PORT=port_numbers
DATABASE_NAME="db_name"
DATABASE_USER="user_name"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_DIALECT=mysql
DATABASE_PORT="3306"
JWT_SECRET="some_secret_key"
JWT_EXPIRES_IN="1h"